/* .containerscrollable{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    padding-right: 20px;
}


.background{
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}

.LinkCSS{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    margin-left: 6px;
    background-color: white;
} */