.textform{
    color: #fff;
    padding: 5vh 5vh;
}
.text{
    align-items: center;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 25px;
}

.forSOC{
    align-items: center;
}

.container1{
    border: 2px solid black;
    border-radius: 4cm;
    width: 200px;
    height: 150px;
    margin-left: 16px;
    background-color: white;
}

.scrollable1{
    overflow-x: scroll;
    display: flex;

}
