/* .text{
    align-items: center;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 25px;
    color: black;
}

.forSOC{
    align-items: center;
    color: black;
}

.container1{
    border: 2px solid black;
    border-radius: 4cm;
    width: 200px;
    height: 150px;
    margin-left: 16px;
    background-color: white;
}

.scrollable1{
    overflow-x: scroll;
    display: flex;

} */
